/* universal styles */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Libre Baskerville', Georgia, serif;
}

body {
  margin: 0px;
  background-color: #1753c3;
}

/* Navigation styles */
nav {
  background-color: #dd7b0b;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 52px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

nav a {
  float: left;
  color: #1753c3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: #a26118;
}

/* Header styles */
header {
  background-image: url(../images/header2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 450px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px;
}

h1 {
  color: #1753c3;
  margin-top: 0px;
  position: relative;
  top: 50px;
  font-size: 75px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Main styles */
article {
  background-color: #2e1d0a;
  color: #1753c3;
  font-size: 20px;
  margin: 0% 20% 0% 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.content {
  padding-bottom: 500px;
}
